*.sw?
.#*
*#
*~
.classpath
.project
.settings/
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
Guardfile
README.html
# Idea IntelliJ

.idea/workspace.xml
.idea/tasks.xml
.idea/artifacts
.idea/libraries
!.idea/backoffice.iml
.idea/modules/*.iml
.idea/dataSources.local.xml
.idea/dataSources.ids
/libs
/data
/web
/logs
.idea
gradle